
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#allBlogsPara{
    position: relative;
    top: 0.5rem;
    width: 80%;
    margin: auto;
}
.abc{
    margin: 0.5rem;
}
.dashboardHeading{
    background-color: #f8f9fa;
    height: 3rem;
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
}
#welcome{
    margin-bottom:  0.5rem;
    font-size: 1.5rem;
}

body{
    background-color: rgb(245, 241, 241);
}
#userSpan{
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
}
.header{
  display: flex;
  height: 3.3rem;
justify-content: space-between;
align-items: center;
background-color: blue;
color: white  
}
.logoutPage:hover{
    background-color: white;
}
.threeDots{
    position: relative;
}
.myPara{
    margin-top: 0.8rem;
}
.threeDots svg{
    color: white;
    position: relative;
bottom: 0.2rem;
cursor: pointer;
}
.redirection a{
    color: rgb(0, 0, 0);
}

.allBlogsPage:hover{
    background-color: white;
}
.profilePage:hover{
    background-color: white;
}
.redirection{
    border: 2px solid rgb(0, 0, 0);
    /* height: 3rem; */
    text-align: center;
    background-color: rgb(245, 241, 241);
    /* margin: 0.5rem; */
    padding:0.2rem 0.4rem;
    font-size: 1.1rem;
        position: absolute;
        z-index: 2;
        border-radius: 5px;
        top: 2rem; /* Adjust as needed */
        right: 8px;
        /* transform: translateX(-50%); Correct the horizontal centering */
}
.postNameTime{
    margin-left: 0.5rem;
}
.postNameTime span{
    font-size: 0.8rem;
    color: gray;
}
.logoutLink{
    cursor: pointer;
    font-size: 1.1rem;
    color: white;
}
.seeMore{
    color: #7748F8;
    cursor: pointer;
}
#allPosts{
    width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
    color: white;
}
.photo{
    height: 4.5rem;
    width: 4.9rem;
}
.photoAndTitle{
    display: flex;
}
.postCard{
    word-wrap: break-word;
    margin-top: 1rem;
    /* border: 1px solid gray; */
    padding: 1rem;
    background-color: #f8f9fa;
   
}
h2{
    margin-bottom: 0rem;
}
.heading{
  
    margin-left: 0.3rem;
    font-size: 1.3rem;
}
@media screen and (max-width:600px) {
    .logoutPage{
        display: block !important;
    }
    .hidingLogout{
        display: none;
    }
}
@media screen and (min-width:700px){
    .header{
        justify-content: space-around;
    }
    .abc{
        margin: 0.8rem;
    }
    .redirection{
        position: absolute;
right: -0.5rem;
    }
}
@media screen and (max-width:370px) {
    .heading{
        font-size: 1.2rem;
    }
    #userSpan{
        font-size: 1rem;
    }
}