*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#changeName{
    color: blue;
    position: relative;
    bottom: 4px;
}
.inputs{
    position: relative;
    bottom: 1rem;
}
body{
    background-color:rgb(245, 241, 241);
}
#changePhoto{
    position: relative;
    bottom: 30px;
    left: 105px;
}
.profileName{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-top: 1rem;
}

.logoutLink{
    cursor: pointer;
    font-size: 1.1rem;
    color: white;
}
.userAndLogout{
    display: flex;
    align-items: center;
}
.login{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
.profileHeading{
    display: flex;
    height: 3rem;
    padding: 0 3rem;
    align-items: center;
    /* justify-content: space-between; */
background-color: #f8f9fa;

}
#UpdatePassword{
    background-color: rgb(8, 8, 146);
}
.heading{
    font-size: 1.3rem;
    margin-bottom: 0.1rem;
}
#mySpan{
    margin-right: 1rem;
    color: blue;
    cursor: pointer;
    font-size: 1.5rem;
}
.allBlogsPage:hover{
    background-color: white;
}
.profilePage:hover{
    background-color: white;
}
.logoutPage:hover{
    background-color: white;
}

.threeDots{
    position: relative;
}
.threeDots svg{
    color: white;
    position: relative;
bottom: 0.2rem;

}
.abc{
    margin: 0.5rem;
}
.redirection{
    border: 2px solid rgb(0, 0, 0);
    /* height: 3rem; */
    text-align: center;
font-size: 1.1rem;
background-color: rgb(245, 241, 241);
   
    /* margin: 0.5rem; */
    padding: 0rem 0.6rem;
            position: absolute;
        border-radius: 5px;
        top: 2.1rem; /* Adjust as needed */
        right: 0%; /* This centers the element horizontally */
        /* transform: translateX(-50%); Correct the horizontal centering */

        
}
.redirection a{
    color: rgb(0, 0, 0);
}
#fileInput{
    display: block;
    margin: 0;
    position: relative;
    left: -1500px;
}
svg{
    color: blue;
    
    cursor: pointer;
}
.profileHeading a{
    font-size: 1.3rem;
    margin-right: 1rem;
}
#userSpan{
    color: white;
    font-size: 1.1rem;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
    height: 3rem;
}
.allItems{
    margin-left: 2rem; 
    word-wrap: break-word;
    padding: 1.5rem;
}
#profilePhoto{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
h1{
    display: inline;
}

input{
    margin-top: 0.3rem;
    height: 1.8rem;
    width: 10rem;
    border-radius: 5px;
    border: 1px solid rgb(182, 160, 160);
}
.logoutLink{
    color: white;
    text-decoration: none;
}
.completeProfile{
   margin-left: 2rem;
    width: 70%;
    margin-top: 4rem;
    background-color: #f8f9fa;
    color: white;
}
button{
    color: white;
    background-color: #7748F8 ;
    /* width: 9rem; */
    /* height: 1.7rem; */
    font-size: 1.1rem;
    padding:0.2rem 0.7rem;
    border-radius: 5px;
}
.image{
    
    height: 8rem;
    width: 8rem;
    border-radius: 7px;
    background-color: darkgray;
    border: 1px solid gray;
    /* background-color: white; */
}
.logoutPage{
    cursor: pointer;
}
@media screen and (max-width:600px) {
    .logoutPage{
        display: block !important;
    } 
    .hidingLogout{
        display: none;
    } 
}
@media screen and (max-width:450px) {
    .completeProfile{
        width: 79%;
    }
}
@media screen and (min-width:700px){
    .header{
        justify-content: space-around;
    }
    .abc{
        margin: 0.8rem;
    }
    .redirection{
        position: absolute;
right: -0.5rem;
    }
}
@media screen and (max-width:370px) {
    .heading{
        font-size: 1.2rem;
    }
    #userSpan{
        font-size: 1rem;
    }
}