*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#passwordNotMatch{
    color: #ff0000;
    display: flex;
    text-align: center;
}
svg{
    position: relative;
    right: 28px;
    cursor: pointer;
}
.myButton{
    
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
}
.signupHeading{
    margin-left: 3rem;
}
.header{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
}
.myInput{
    display: flex;
    align-items: center;
}
.myHeading{
    display: inline;
}
.swal2-confirm, .swal2-style{
    display: flex !important;
    justify-content: center;
    align-items: center;
 
}
.mainContainer{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body{
   
    background-color: rgb(167, 137, 196)
}
.myContainer{
    background-color: white;
    padding: 1.3rem;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
    border-radius: 6px;
}

.or span{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}
svg{
    margin-left: 0.4rem;
}
input{
    height: 1.7rem;
    width: 12.5rem;
    border-radius: 6px;
    border: 1px solid rgb(194, 177, 177);
    padding: 0.2rem;
}
.signupPassword{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: rgb(110, 103, 153);
    }
.myInputs{
    margin-top: 0.7rem;
}
button{
    border: 1px solid  rgb(202, 143, 153);
    width: 12.4rem;
    margin-top: 0.4rem;
    background-color: rgb(216, 127, 145);
    height: 1.9rem;
    border-radius: 6px;
    color: white;
    font-size: 1.1rem;
}
.or{
    display: flex;
    align-items: center;
}
hr{
    width: 100%;
}